/*
Color scheme (old google)
blue: #3369e8
red: #d50f25
orange: #eeb211
green: #009925

Color scheme (new google)
blue: #4285f4
green: #0f9d58
orange: #f4b400
red: #db4437
*/

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;	
}

div.progress {
	height: 2px;
}

div.progress-bar {

}

/******
	HEADER
******/
nav {
	height: 35px;
	margin: 0;
	padding: 0 0 0 2px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	background: #e3e3e3;
}

nav.navbar, .navbar-default {
	margin: 0;
	border-radius: 0;
	border: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#cast-button {
	width: 40px;
	height: 33px;
	display: inline-block !important;
	padding: 0;
	background: #f3f3f3;
	border: 0;
}

/* Not targeting button */
#cast-button {
	--connected-color: #3369e8;
}

nav input {
	margin: 0 0 0 auto;
	padding: 0 5px;
	width: 335px;
	height: 35px;
	font-size: 20px;
}

nav input:focus {
	outline: none;
}

::-webkit-input-placeholder {
  color: #e7e7e7;
}

#genres {
	position: absolute;
	top: 38px;
	right: 366px;
	z-index: 10;
	background: #fff;
	border: 0;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

nav.navbar .playback {
	height: 33px;
	flex-grow: 1;
	display: flex;
	align-content: center;
	padding: 0;
	background: #f7f7f7;
	margin: 0;
}

.playback audio {
	flex-grow: 1;
}

.playback button {
	border: none;
	padding: 4px 0px 4px 6px;
	background: #f7f7f7;
	color: inherit;
	font-size: 15px;
	height: 33px;
	cursor: default;
	outline: none;
}

.playback button:hover, .playback button:active {
	background: #f7f7f7;
}

button.skip span {
	padding-top: 2px;
}

button.playmode {
	padding: 6px 10px 4px;
	padding-top: 6px;
	padding-right: 10px;
}

button.normal, button.normal:hover, button.normal:focus {
	outline: none;
}

button.skip, button.skip:hover, button.skip:focus {
	outline: none;
}

button.repeat, button.repeat:hover, button.repeat:focus {
	background-color: #009925; /* #3c763d */
	color: #fff;
	outline: none;
}

button.refresh, button.refresh:hover, button.refresh:focus {
	background-color: #d50f25; /* red */
	color: #fff;
	outline: none;
}

button.random, button.random:hover, button.random:focus {
	background-color: #eeb211; /* orange */
	color: #fff;
	outline: none;
}

button#dropdownMenuButton {
	background: #f3f3f3;
	border: 0;
	height: 33px;
	padding: 0 5px 0 6px;
}

nav .dropdown-menu {
	margin: 0;
	font-size: 12px;
}

nav .dropdown-menu .divider {
	margin: 3px 0;
}

/******
	TABLE
******/
.table-container {
	padding: 0;
}

table {
	width: 100%;
}

thead, tbody {
	display: block;
}

thead {
	background: #fff;
	padding: 0 3px;
}

tbody {
	height: 89.5vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 3px;
}

tr.currentTrack {
	background: #f7d988 !important;
}

tr.currentTrack a {
	color: #000;
}

td.wide, th.wide {
	width: 325px;
}

td.duration {
	width: 57px;
	text-align: right;
}

td.track {
	width: 39px;
	text-align: right;
}

tfoot {
	border-top: 1px solid #ccc;
}

tfoot td {
	text-align: center;
	color: gray;
}

.table-condensed>tbody>tr>td {
	padding: 2px;
	font-weight: 200;
	font-size: 13px;
}

.table-condensed>thead>tr>th {
	padding: 2px;
	font-size: 14px;
	font-weight: 500;
}

/******
	SIDE PANEL
******/
#side-panel {
	padding: 5px;
	overflow-y: hidden;
	height: 95.8vh;
	border-left: 1px solid #ccc;
}

#current-track {
	position: relative;
	display: flex;
	justify-content: space-between;
	background-color: #eeb211;
	margin: 10px 5px 14px;
	height: 68px;
	outline: 1px solid #d6a00f;
	outline-offset: 1px;
}

#current-track.not-loaded {
	background-color: transparent;
}

#current-track.not-loaded button.info {
	display: none;
}

#current-track button {
	padding: 4px 3px 4px 4px;
	background-color: #eeb211;
	border: 0;
	border-right: 1px solid #d6a00f;
}

#current-track button:hover {
	background-color: #d6a00f;
}

#current-track button.info {
	position: absolute;
	bottom: 0;
	right: 4px;
	padding: 0;
	margin: 0;
	border: 0;
}

#current-track button.info:hover {
	background-color: inherit;
}

#current-track.not-loaded button {
	background-color: #d6a00f;
}

#current-track.not-loaded button span {
	opacity: 0.5;
}

/* TABS */
.nav {
	margin: 1px 0 2px;
	padding: 5px;
	background-color: #d5d5d5;
	border-top: 1px solid #000;
}

.nav-pills>li {
	margin-right: 2px;
	background-color: gray;
}

.nav-pills>li>a {
	border-radius: 0;
	outline: 1px solid #ccc;
	outline-offset: 0;
	padding: 5px 15px;
	color: #fff;
}

.nav-pills>li>a:hover {
	color: #333;
	background-color: transparent;
}

.nav-pills>li.active>a:active {
	color: #000;
}

#info-tab a {
	padding: 5px 14px;
}

#info-tab span {
	font-size: 16px;
	top: 3px;
}

.tab-content div ul {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.tab-content li.warning {
	font-size: 12px;
}

/* UP NEXT TAB */
div.tab-content {
	position: relative;
	height: 78.8vh;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

#up-next-ul li {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin-bottom: 2px;
	background: #f7f7f7;
	border: 1px solid #f3f3f3;
}

#up-next-ul li:last-child {
	margin-bottom: 0;
}

.up-next-item {
	width: 90%;
	overflow: hidden;
	padding-top: 1px;
	margin-right: 6px;
}

li button.playback:focus, button.close:focus {
	outline: 0;
}

button.close:hover {
	opacity: 0.9;
}

#up-next-ul li button.close {
	font-size: 12px;
	border-right: 1px solid gray;
	background: #e3e3e3;
	padding: 4px 4px 4px 3px;
}

.up-next-item h5, .up-next-item h6, .divider {
	overflow: hidden;
	text-overflow: ellipsis;
	color: #252525;
	font-weight: 200;
	margin: 4px 0 3px 0;
}

.up-next-item h5 {
	white-space: nowrap;
	width: 268px;
	display: inline-block;
	flex: 1;
	padding-right: 7px;
}

.up-next-item .title-wrap {
	height: 23px;
	padding-top: 1px;
	display: flex;
}

.up-next-item .artist-wrap {
	margin-bottom: 6px;
}

.up-next-item h5 span.title {
	font-weight: 400;
	font-size: 13px;
}

.up-next-item span.duration {
	/* float: right; */
	font-size: 11px;
	padding-top: 4px;
}

.up-next-item h6 {
	display: inline;
	font-size: 12px;
}

.up-next-item h6:hover {
	cursor: pointer;
	text-decoration: underline;
}

#up-next-controls {
	position: absolute;
	top: -27px;
	right: 0;
}

#up-next-controls button {
	margin-right: 4px;
	padding: 2px 4px;
	background-color: transparent;
	border: 0;
}

#up-next-controls button label:hover {
	cursor: poitner;
}

#up-next-controls button.btn[disabled] label {
	cursor: default;
	opacity: 0.4;
}

#up-next-controls label {
	font-weight: 400;
	color: #252525;
	margin: 0;
}

/* PLAYLISTS */
.playlist-item {
	display: flex;
	margin-bottom: 2px;
	padding: 3px;
}

.playlist-item:hover {
	background-color: #f3f3f3;
}

.playlist-item a {
	flex-grow: 1;
	color: #000;
}

.playlist-item a:hover {
	text-decoration: none;
}

.playlist-item button {
	margin-right: 1px;
}

/* INFO TAB */
#info ul {
	/*padding: 3px;*/
}

#info li {
	font-size: 12px;
	overflow-wrap: break-word;
}

#info .infoKey {
	font-weight: 700;
}

/******
	BUTTONS
******/
button label:hover {
	cursor: pointer;
}

button.active {
	color: red;
}

button.btn {
	border-radius: 0;
}

button.btn:hover {
	cursor: default;
}

.btn:focus, .btn:active:focus, button.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	box-shadow: none;
	background-color: inherit;
}

button.close {
	font-size: 14px;
	color: #252525;
	opacity: 0.5;
}

:focus {
	outline: none;
}

/******
	BOOTSTRAP
******/
.nav-pills>li>a, .nav-pills>li>a:focus, .nav-pills>li>a:hover {
	cursor: default;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #e7e7e7;
	outline: 1px solid gray;
	outline-offset: -1px;
	cursor: default;
	color: #000;
}

/* Dropdown menu */
.dropdown-menu {
	background-color: #f7f7f7;
	box-shadow: 0 4px 10px rgba(0,0,0,0.175);
}


.dropdown-menu>li.disabled {
	opacity: 0.6;
}

.dropdown-menu>li.disabled a:hover {
	cursor: default;
}

.dropdown-menu>li.selected>a::before {
	content: "✓";
	float: left;
	width: 0;
	height: 0;
	margin-left: -14px;
}

.dropdown-menu>li>a {
	padding: 1px 20px;
	letter-spacing: 0.2px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:active {
	color: #f6fafe;
	background-color: #2c85f8;
	cursor: default;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 2px;
	right: 98%;
	margin-top: -8px;
	margin-left: 2px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a::after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
	margin-top: 4px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a {
	background-color: #2c85f8;
	color: #f6fafe;
	border-left-color: #000;
}

.dropdown-submenu.pull-left {
	float: none;
}
	
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}