/*
Color scheme (old google)
blue: #3369e8
red: #d50f25
orange: #eeb211
green: #009925

Color scheme (new google)
blue: #4285f4
green: #0f9d58
orange: #f4b400
red: #db4437
*/

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: normal;
}

div.progress {
	height: 2px;
}

div.progress-bar {

}

/******
	HEADER
******/
nav {
	height: 36px;
	margin: 0;
	px; */
	padding: 0 0 0 2px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	background: #f7f7f7;
}

nav.navbar, .navbar-default {
	margin: 0;
	border-radius: 0;
	border: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#cast-button {
	width: 40px;
	height: 33px;
	display: inline-block !important;
	padding: 0;
	background: #f3f3f3;
	border: 0;
}

/* Not targeting button */
#cast-button {
	--connected-color: #3369e8;
}

nav input {
	margin: 0 0 0 auto;
	padding: 0 8px;
	width: 330px;
	height: 36px;
	font-size: 20px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid gray;
}

nav input:focus {
	outline: none;
}

::-webkit-input-placeholder {
  color: #e7e7e7;
}

nav.navbar .playback {
	height: 34px;
	flex-grow: 1;
	display: flex;
	align-content: center;
	padding: 0;
	background: #f7f7f7;
	margin: 0;
}

.playback audio {
	flex-grow: 1;
	margin-top: 1px;
}

.playback button {
	border: none;
	padding: 6px 0px 6px 6px;
	background: #f7f7f7;
	color: inherit;
	font-size: 15px;
	height: 33px;
	cursor: default;
	margin-top: 1px;
}

.playback button:hover, .playback button:active {
	background: #f7f7f7;
}

button.skip span {
	padding-top: 2px;
}

button.playmode {
	padding: 6px 10px 4px;
	padding-top: 6px;
	padding-right: 10px;
}

button.normal, button.normal:hover, button.normal:focus {
	outline: none;
}

button.skip, button.skip:hover, button.skip:focus {
	outline: none;
}

button.repeat, button.repeat:hover, button.repeat:focus {
	background-color: #009925; /* #3c763d */
	color: #fff;
	outline: none;
	margin:  0;
	height: 34px;
}

button.refresh, button.refresh:hover, button.refresh:focus {
	background-color: #d50f25; /* red */
	color: #fff;
	outline: none;
	margin: 0;
	height: 34px;
}

button.random, button.random:hover, button.random:focus {
	background-color: #eeb211; /* orange */
	color: #fff;
	outline: none;
	margin: 0;
	height: 34px;
}

button#dropdownMenuButton {
	background: #f3f3f3;
	border: 0;
	height: 23px;
	padding: 1px 5px 0 6px;
	margin: 6px 3px 5px 3px;
	font-size: 13px;
}

button#dropdownMenuButton:hover, button#dropdownMenuButton:focus {
	/* background-color: #ccc; */
}

nav .dropdown-menu {
	margin: 0;
	font-size: 12px;
}

nav .dropdown-menu .divider {
	margin: 3px 0;
}

/******
	TABLE
******/
.table-container {
	padding: 0;
}

table {
	width: 100%;
}

thead, tbody {
	display: block;
}

thead {
	padding: 0 3px;
	border-bottom: 1px solid #e3e3e3;
	line-height: 1.42857143;
}

.table-wrap {
	position: relative;
	height: 100vh;
}

#select-wrap {
	position: absolute;
	top: 1px;
	right: 0px;
	z-index: 10;
	color: gray;
	line-height: 1.42857143;
}

#select-wrap::after {
	content: '▼';
	pointer-events: none;
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 5;
	color: inherit;
	font-size: 9px;
}

#filterSelect {
	-webkit-appearance: none;
	letter-spacing: 0.3px;
	border: 0;
	color: gray;
	padding: 0 29px 0 10px;
	background-color: #fff;
	font-size: 14px;
}

#select-wrap.filter-selected, #filterSelect.filter-selected {
	color: #000;
}

.table-wrap ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.table-wrap ul li, .table-wrap ul li div {
	padding: 0 2px;
	letter-spacing: 0.3px;
}

.table-wrap ul li.wide, .table-wrap ul li div.wide {
	width: 30%;
}

.table-wrap ul.tbody li, .table-wrap ul li div {
	flex-shrink: 0;
	font-size: 12px;
	font-weight: 300;
	align-items: center;
}

.table-wrap ul.tbody li:nth-child(odd) {
	background: #f7f7f7;
}

.table-wrap ul.tbody li div.duration {
	width: 60px;
	text-align: right;
}

.table-wrap ul.tbody li div.track {
	width: 40px;
	text-align: right;
}

.table-wrap header {
	border-bottom: 1px solid #ccc;
}

.table-wrap header ul {
	flex-direction: row;
	padding: 3px 2px;
}

.table-wrap header ul li {
	display: inline-block;
	font-weight: 400;
}

/*.table-wrap header ul li.Duration, .table-wrap ul.tbody li.Duration {
	width: 5.46%;	
}

.table-wrap header ul li.Track, .table-wrap ul.tbody li.Track {
	width: 3.7%;
}*/

.table-wrap ul.tbody {
	flex-direction: column;
	padding: 0 2px;
	position: absolute;
	top: 23px;
	bottom: 56px;
	overflow-y: scroll;
}

.table-wrap ul.tbody li {
	display: flex;
	flex-direction: row;
	padding: 2px 0;
}

.table-wrap footer {
	position: fixed;
	bottom: 0;
	margin: 0;
	padding: 0;
	border-top: 1px solid #333;
	background-color: #595959;
	color: #fbffff;
	text-shadow: 0 -1px #323232;
}

.table-wrap footer ul {
	flex-direction: row;
	padding: 2px 3px;
	border-top: 1px solid gray;
}

.table-wrap footer ul li {
	font-weight: 300;
	font-size: 12px;
	border-right: 1px solid gray;
	padding: 0 15px;
	letter-spacing: 0.5px;
}

.table-wrap footer ul li h4 {
	display: inline-block;
	margin: 0;
}

.table-wrap footer ul li.track-count {

}

.table-wrap footer ul li.play-mode {

}

.table-wrap footer ul li.filter-info {
	margin-left: auto;
	border: 0;
}

li.currentTrack {
	background: #f7d988 !important;
}

li.currentTrack a {
	color: #000;
}

tbody {
	position: absolute;
	top: 61px;
	bottom: 20px;
	overflow-y: auto;
	overflow-x: hidden;
}

tr.currentTrack {
	background: #f7d988 !important;
}

tr.currentTrack a {
	color: #000;
}

td.wide, th.wide {
	width: 326px;
}

td.duration {
	width: 60px;
	text-align: right;
}

td.track {
	width: 40px;
	text-align: right;
}

tfoot {
	border-top: 1px solid #333;
	position: fixed;
	bottom: 0;
}

tfoot td {
	font-weight: 300;
	font-size: 11px;
	padding: 1px 0 !important;
	background-color: #595959;
	color: #fbffff;
	border-top: 1px solid gray;
	text-shadow: 0 -1px #323232;
	width: 1080px;
}

tfoot td span.track-count {
	float: left;
	padding: 1px 20px 0;
	border-right: 1px solid gray;
	width: 111px;
	text-align: center;
}

tfoot td span.play-mode {
	padding: 1px 20px 0;
	float: left;
	border-right: 1px solid gray;
	width: 101px;
	text-align: center;
}

tfoot td span.filter-info {
	float: right;
	padding: 1px 15px 0 0;
	font-size: 12px;
}

tfoot td span.filter-info h4 {
	margin: 0;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.table-condensed>tbody>tr>td {
	padding: 2px 2px 2px 4px;
	font-weight: 200;
	font-size: 12px;
}

.table-condensed>thead>tr>th {
	padding: 2px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.3px;
}

/******
	SIDE PANEL
******/
#side-panel {
	padding: 5px 4px 5px 5px;
	overflow-y: hidden;
	height: 96.2vh;
	border-left: 1px solid #000;
	padding:  0;
}

#current-track {
	position: relative;
	display: flex;
	justify-content: space-between;
	background-color: #eeb211;
	margin: 15px 14px 14px;
	height: 68px;
	outline: 1px solid #d6a00f;
	outline-offset: 1px;
	line-height: 1.42857143;
}

#current-track.not-loaded {
	background-color: transparent;
}

#current-track.not-loaded button.info {
	display: none;
}

#current-track button {
	padding: 4px 3px 4px 4px;
	background-color: #eeb211;
	border: 0;
	border-right: 1px solid #d6a00f;
}

#current-track button:hover {
	background-color: #d6a00f;
}

#current-track button.info {
	position: absolute;
	bottom: 0;
	right: 4px;
	padding: 0;
	margin: 0;
	border: 0;
}

#current-track button.info:hover {
	background-color: inherit;
}

#current-track.not-loaded button {
	background-color: #d6a00f;
}

#current-track.not-loaded button span {
	opacity: 0.5;
}

/* TABS */
.nav {
	margin: 0 2px 0;
	padding: 5px;
	background-color: #fff;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	/* border-right: 2px solid #fff; */
	/* border-left: 2px solid #fff; */
}

.nav-pills>li {
	margin-right: 2px;
	background-color: gray;
	line-height: 1.42857143;
}

.nav-pills>li>a {
	border-radius: 0;
	outline: 1px solid #ccc;
	outline-offset: 0;
	padding: 5px 15px;
	color: #fff;
}

.nav-pills>li>a:hover {
	color: #333;
	background-color: transparent;
}

.nav-pills>li.active>a:active {
	color: #000;
}

#info-tab a {
	padding: 5px 14px;
}

#info-tab span {
	font-size: 16px;
	top: 3px;
}

.tab-content div ul {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #fcfffb;
}

.tab-content li.warning {
	font-size: 12px;
}

/* UP NEXT TAB */
div.tab-content {
	position: relative;
	height: 79.1vh;
	border-right: 1px solid gray;
	border-bottom: 1px solid #ccc;
	/* border-left: 1px solid #f3f3f3; */
	margin: 2px;
	background-color: #fbffff;
}

#up-next-ul li {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin-bottom: 2px;
	background: #f7f7f7;
	border: 1px solid #f3f3f3;
	border-top: 1px solid #dedede;
}

#up-next-ul li:last-child {
	margin-bottom: 0;
}

#up-next-ul li.help, #playlists-ul li.help {
	height: 100%;
	background-color: #fff;
	padding: 0 10px;
	display: flex;
}

#up-next-ul li.help p, #playlists-ul li.help p {
	text-align: center;
	font-size: 25px;
	color: #e3e3e3;
	font-weight: 300;
	margin: auto 0;
}

#playlists-ul li.help a {
	color: #ccc;
}

.up-next-item {
	width: 90%;
	overflow: hidden;
	padding-top: 1px;
	margin-right: 6px;
}

li button.playback:focus, button.close:focus {
	outline: 0;
}

button.close:hover {
	opacity: 0.9;
}

#up-next-ul li button.close {
	font-size: 12px;
	border-right: 1px solid gray;
	background: #e3e3e3;
	padding: 4px 4px 4px 3px;
}

.up-next-item h5, .up-next-item h6, .divider {
	overflow: hidden;
	text-overflow: ellipsis;
	color: #252525;
	font-weight: 200;
	margin: 4px 0 3px 0;
}

.up-next-item h5 {
	white-space: nowrap;
	width: 268px;
	display: inline-block;
	flex: 1;
	padding-right: 7px;
}

.up-next-item .title-wrap {
	height: 23px;
	padding-top: 1px;
	display: flex;
}

.up-next-item .artist-wrap {
	margin-bottom: 6px;
}

.up-next-item h5 span.title {
	font-weight: 400;
	font-size: 13px;
}

.up-next-item span.duration {
	/* float: right; */
	font-size: 11px;
	padding-top: 4px;
}

.up-next-item h6 {
	display: inline;
	font-size: 12px;
}

.up-next-item h6:hover {
	cursor: pointer;
	text-decoration: underline;
}

#up-next-controls {
	position: absolute;
	top: -27px;
	right: -2px;
}

#up-next-controls button {
	margin-right: 4px;
	padding: 2px 4px 0;
	background-color: transparent;
	border: 0;
}

#up-next-controls button label:hover {
	cursor: poitner;
}

#up-next-controls button.btn[disabled] label {
	cursor: default;
	opacity: 0.4;
}

#up-next-controls label {
	font-weight: 200;
	color: #333;
	margin: 0;
	letter-spacing: 0.5px;
}

/* PLAYLISTS */
.playlist-item, .new-playlist {
	display: flex;
	margin-bottom: 2px;
	padding: 3px;
}

.playlist-item:hover {
	background-color: #f3f3f3;
}

.playlist-item a {
	flex-grow: 1;
	color: #000;
}

.playlist-item a:hover {
	text-decoration: none;
}

.playlist-item button {
	margin-right: 1px;
}

.new-playlist {
	padding: 0 1px 0 0;
}

.new-playlist input {
	flex-grow: 1;
	margin-right: 2px;
}

/* INFO TAB */
#info ul {
	padding: 5px;
	display: flex;
	flex-direction: column;
	/* border-left: 1px solid #f3f3f3; */
	background-color: #595959;
}

#info li {
	font-size: 12px;
	overflow-wrap: break-word;
	color: #fbffff;
	font-weight: 200;
	letter-spacing: 0.5px;
	padding: 0 3px;
	text-align: right;
}

#info ul li.alert {
	text-align: left;
}

#info .infoKey {
	font-weight: 500;
	letter-spacing: 0.5px;
	float: left;
}

#info ul li.artwork {
	order: -1;
	text-align: center;
	padding: 0;
	margin-bottom: 7px;
}

#info ul li img.artwork {
	width: 100%;
	height: auto;
	border: 1px solid #fff;
}

#info ul li.title {
	order: -1;
}

#info ul li.duration {
	order: 1;
}

#info ul li.album, #info ul li.artist, #info ul li.year {
	order: 2;
}

#info ul li.genre, #info ul li.track, #info ul li.track-count {
	order: 3;
}

#info ul li.disc {
	order: 4;
}

#info ul li.comments {
	order: 5;
}

#info ul li.divider {
	order: 6;
	width: 97%;
	height: 1px;
	margin: 5px 0 6px;
	background-color: #7d7d7d;
	align-self: center;
}

#info ul li.type {
	order: 7;
}

#info ul li.bit-rate, #info ul li.sample-rate {
	order: 8;
}

/******
	BUTTONS
******/
button label:hover {
	cursor: pointer;
}

button.active {
	color: red;
}

button.btn {
	border-radius: 0;
}

button.btn:hover {
	cursor: default;
}

.btn:focus, .btn:active:focus, button.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	box-shadow: none;
	background-color: inherit;
}

button.close {
	font-size: 14px;
	color: #252525;
	opacity: 0.5;
}

:focus {
	outline: none;
	/* background-color: #ccc; */
}

/******
	BOOTSTRAP
******/
.nav-pills>li>a, .nav-pills>li>a:focus, .nav-pills>li>a:hover {
	cursor: default;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #f7f7f7;
	outline: 1px solid gray;
	outline-offset: -1px;
	cursor: default;
	color: #000;
}

/* Dropdown menu */
.dropdown-menu {
	background-color: #f7f7f7;
	box-shadow: 0 4px 10px rgba(0,0,0,0.175);
}


.dropdown-menu>li.disabled {
	opacity: 0.6;
}

.dropdown-menu>li.disabled a:hover {
	cursor: default;
}

.dropdown-menu>li.selected>a::before {
	content: "✓";
	float: left;
	width: 0;
	height: 0;
	margin-left: -14px;
}

.dropdown-menu>li>a {
	padding: 1px 20px;
	letter-spacing: 0.2px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:active {
	color: #f6fafe;
	background-color: #2c85f8;
	cursor: default;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 2px;
	right: 98%;
	margin-top: -8px;
	margin-left: 2px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a::after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
	margin-top: 4px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a {
	background-color: #2c85f8;
	color: #f6fafe;
	border-left-color: #000;
}

.dropdown-submenu.pull-left {
	float: none;
}
	
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radi